<!DOCTYPE html>
<html>
  <head>
    <title>WebSocket Client</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
      var socket = io();

      socket.on('connect', function() {
        console.log('Connected to server');
      });

      socket.on('disconnect', function() {
        console.log('Disconnected from server');
      });

      socket.on('response', function(data) {
        console.log('Received response:', data);
      });

      function sendMessage() {
        var message = document.getElementById('message').value;
        socket.emit('send_message', message);
      }

      function getMessages() {
        socket.emit('get_messages', '{"p1": "1", "p2": "4"}');
      }
    </script>
  </head>
  <body>
    <input type="text" id="message" placeholder="Enter a message" />
    <button onclick="sendMessage()">Send</button>
    <button onclick="getMessages()">Get</button>
  </body>
</html>