aiohttp==3.9.5
aiosignal==1.3.1
alembic==1.13.2
annotated-types==0.7.0
attrs==23.2.0
authlib==1.3.0  # 用于OAuth认证
bidict==0.23.1
blinker==1.8.2
camel-converter==3.1.2
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
Flask==3.0.3
Flask-Cors==4.0.1
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
frozenlist==1.4.1
h11==0.14.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
livekit-api==0.5.1
livekit-protocol==0.5.1
Mako==1.3.5
MarkupSafe==2.1.5
multidict==6.0.5
protobuf==5.27.2
pydantic==2.7.4
pydantic_core==2.18.4
PyJWT==2.8.0
redis==5.0.1
requests==2.32.3
simple-websocket==1.0.0
SQLAlchemy==2.0.30
types-protobuf==4.25.0.20240417
typing_extensions==4.12.0
urllib3==2.2.2
Werkzeug==3.0.3
wsproto==1.2.0
yarl==1.9.4
openai==1.64.0
pytesseract==0.3.13
PyMuPDF==1.25.3

# 生产环境依赖
gunicorn==21.2.0
gevent==24.2.1

# 监控相关依赖
prometheus-client==0.20.0
prometheus-flask-exporter==0.23.0

# 数据库驱动
pymysql==1.1.0
motor==3.3.2  # MongoDB的异步客户端

# 支付宝SDK
alipay-sdk-python==3.6.0
# pycryptodome==3.19.1  # 用于支付宝签名验证
cryptography==43.0.1

# 进度条
tqdm==4.67.0

# 邮件发送
Flask-Mail==0.9.1
